/* FOOTER */
.footer {
  @extend .position-relative, .flex-shrink-0;
  z-index: 200;
  padding: 20px 0;
}

.footer__links {
  @extend .d-flex, .align-items-center;
}

.footer__links__item {
  width: 30px;

  &+.footer__links__item {
    @extend .ml-4;
  }
}