/* Fonts */
@font-face {
  font-family: 'Mionta';
  src: url("#{$font-path}Mionta.woff2") format('woff2'), url("#{$font-path}Mionta.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Phantom';
  src: url("#{$font-path}phani-webfont.woff2") format('woff2'), url("#{$font-path}phani-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}