/* VARIABLES */
/* Color variables */
$white: #ffffff;
$black: #000000;
$primary: #d85a24;
$danger: #a8272d;
//Override Bootstrap color variables
.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-primary {
  color: $primary !important;
}

.text-danger {
  color: $danger !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-danger {
  background-color: $danger !important;
}
/*************************
	Fonts variables
*************************/
$font-primary: 'Phantom';
$font-secondary: 'Mionta';

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}
/*************************
	Base variables
*************************/
$base-color: $primary;
$base-font: $font-primary;
$base-animation: 250ms;
/*************************
	Font path variable
*************************/
$font-path: "../fonts/";
/*************************
	Body variables
*************************/
$body-font-family: $base-font;
$body-font-size: 14px;
$body-line-height: 1.5;
$body-main-color: $base-color;
/*************************
	Links variables
*************************/
$link-color: $primary;
/*************************
	Title variables
*************************/