<footer class="footer">
  <div class="container-fluid">
    <div class="footer__links">
      <a href="https://www.youtube.com/channel/UCtOMWdOfPret8oyfX0DXPIA" target="_blank" class="footer__links__item">
        <img src="assets/images/elements/youtube.svg" alt="" class="w-100">
      </a>
      <a href="https://www.instagram.com/werebanditsproductions/" target="_blank" class="footer__links__item">
        <img src="assets/images/elements/insta.svg" alt="" class="w-100">
      </a>
    </div>
  </div>
</footer>