<header class="header">
  <div class="container-fluid">
    <a href="#" class="menu__toggle"></a>

    <div class="menu">
      <a href="#" class="menu__close"></a>
      <nav class="menu__nav">
        <a href="index.html" class="menu__nav__item">home</a>
        <a href="story-cast.html" class="menu__nav__item">story & cast</a>
        <a href="bios.html" class="menu__nav__item">bios</a>
        <a href="screenings.html" class="menu__nav__item">screenings</a>
        <a href="visuals.html" class="menu__nav__item">visuals</a>
        <a href="contact.html" class="menu__nav__item">contact</a>
      </nav>
    </div>
  </div>
</header>