<!-- Modal movie -->
<div class="modal fade" id="modal-movie" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">
      </button>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe id="modal-video" class="embed-responsive-item" src="https://www.youtube.com/embed/ScMzIvxBSi4" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>