/* BUTTONS */
.btn {
  @extend .px-4, .border-0;
  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
  }

  &-primary {
    @include button-variants($bg: $primary, $color: $black);
    box-shadow: 0 0 4px 1px $black inset !important;
  }

  &-text-wide {
    letter-spacing: 3px;
  }
}