/* FORMS */
.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	@extend .rounded-pill, .bg-black, .text-white;
	border-color: $primary;

	&:focus {
		border-color: $primary;
		box-shadow: 0 0 0 0.2rem rgba($primary,.25);
	}
}

.form-group {
	@extend .mb-4;
}

textarea.form-control {
	resize: none;
	min-height: 100px;
	border-radius: 1.25rem !important;
}